<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="movil.palermo.com.py.controlstockregreso" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="movil.palermo.com.py.controlstockregreso.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="movil.palermo.com.py.controlstockregreso.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="movil.palermo.com.py.controlstockregreso.MainCrearControl"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="movil.palermo.com.py.controlstockregreso.ListaProductos"
            android:label="@string/title_activity_lista_productos" >
        </activity>
        <activity
            android:name="movil.palermo.com.py.controlstockregreso.DetalleProducto"
            android:label="@string/title_activity_detalle_producto" >
        </activity>
        <activity
            android:name="movil.palermo.com.py.controlstockregreso.HistorialCargas"
            android:label="@string/title_activity_historial_cargas" >
        </activity>
        <activity
            android:name="movil.palermo.com.py.controlstockregreso.ListaVendedor"
            android:label="@string/title_activity_lista_vendedor" >
        </activity>
        <activity
            android:name="movil.palermo.com.py.controlstockregreso.ListaChofer"
            android:label="@string/title_activity_lista_chofer" >
        </activity>
        <activity
            android:name="movil.palermo.com.py.controlstockregreso.ListaMovil"
            android:label="@string/title_activity_lista_movil" >
        </activity>
    </application>

</manifest>
